@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Poppins:wght@100&display=swap');

.registro-cuerpo{
    position: fixed;
    width: 100%;
    height: 100%;
}

.container-registro {
    position: absolute;
    left: 25%;
    top: 10%;
    transform: translate(-50%,-50%);
}

.container-img{
    position: fixed;
    height: 100%;
}

p {
    width: 50px;
    font-family:'IBM Plex Sans', sans-serif;
    font-size: 40px;
    letter-spacing: -0.04em;
    font-weight: bold;
    flex-grow: 1;
    margin-bottom: 50px;
}

.inputs {
    position: absolute;
    width: 500px;
    height: 500px;
}

.inputs input {
    position: absolute;
    width: 330px;
    height: 50px;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #000000;
    font-weight: 300;
}

.button-inputs button {
    position: absolute;
    width: 160px;
    height: 50px;
    top: 280px;
    left: 16%;
    border-radius: 10px;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.buttons button{
    position: absolute;
    width: 160px;
    height: 50px;
    top: 635px;
    border-radius: 10px;
    background-color: #A67133;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.tipo{
    display: flex; 
    flex-direction: column; 
    line-height: 25px;
}

.Autores{
    position: absolute;
    align-items: center;
    border-radius: 10px;
    background-color: #CABA80;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    left: 800px;
    top: 150px;
    width: 135px;
    padding: 6px 12px;
}

.Editorial{
    position: absolute;
    align-items: center;
    border-radius: 10px;
    background-color: #CABA80;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    left: 800px;
    top: 200px;
    width: 135px;
    padding: 6px 12px;
}

.Categoria{
    position: absolute;
    align-items: center;
    border-radius: 10px;
    background-color: #CABA80;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    left: 800px;
    top: 250px;
    width: 135px;
    padding: 6px 12px;
}


.Categoria-label {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #A67133;
    position: absolute;
    left: 800px;
    top: 450px;

}

.Graficos-container {
    position: absolute;
    width: 95%;
    height: 600px;
    top: 430px;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #6F9A8D;
    border-radius: 10px;
}

.CantidadPrestamo{
    position: absolute;
    padding: 2%;
    width: 400px;
    height: 400px;
    left: 0;
    border: 2px solid #6F9A8D;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 5px;
}

.CantidadAutores{
    position: absolute;
    padding: 2%;
    width: 400px;
    height: 400px;
    left: 399px;
    border: 2px solid #6F9A8D;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.CantidadRecaudado{
    position: absolute;
    padding: 2%;
    width: 799px;
    height: 200px;
    top: 395px;
    left: 0;
    border: 2px solid #6F9A8D;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-bottom-right-radius: 5px;
}

.Prueba{
    position: absolute;
    padding: 2%;
    width: 650px;
    height: 600px;
    top: 100px;
    left: 1050px;
}