<div class="registro-cuerpo">
    <div class="container-img">
      <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
    </div>
    <div class="container-registro">
      <p>
        <span class="registro"> Registrar</span>
        <span class="libro" style="color:#A67133; height: 10px"> {{tipo}}</span>
      </p>
      <div class="inputs">
        <input class="Titulo" type="text" placeholder="Titulo" style="top: 10px;">
        <input class="Disponibilidad" type="text" placeholder="Disponibilidad" style="top: 70px;">
        <input class="Disciplina" type="text" placeholder="Disciplina" style="top: 130px;">
        <input class="ISBN" type="text" placeholder="ISBN" style="top: 190px;">
        <input class="Fecha de publicación" type="text" placeholder="Fecha de publicación" style="top: 250px;">
        <input class="N° Páginas" type="text" placeholder="N° Páginas" style="top: 10px; left: 75%;">
        <input class="N° Estante" type="text" placeholder="N° Estante" style="top: 70px; left: 75%;">
        <input class="Bibliografía" type="text" placeholder="Bibliografía" style="top: 130px; left: 75%;">
        <input class="Género" type="text" placeholder="Género" style="top: 190px; left: 75%;">
        <input class="Sinopsis" type="text" placeholder="Sinopsis" style="top: 250px; left: 75%;">
        <input class="N° Edicion" type="text" placeholder="N° Edición" style="top: 310px; left: 75%;">
        <input class="Ubicación" type="text" placeholder="Ubicación" style="top: 370px; left: 75%;">
      </div>
      <div class="buttons" style=" display: flex; justify-content: space-between;">
        <button class="button-agregar">Agregar</button>
        <button class="button-modificar" style="left: 185px">Modificar</button>
        <button class="button-mostrar" style="left: 365px">Mostrar</button>
        <button class="button-eliminar" style="left: 545px">Eliminar</button>
      </div>
    </div>
  </div>
