<div *ngIf="tipo === 'Inicio'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-registro">
    <p style="width: auto;">
      <span class="Bienvenida"> ¡ Estos datos son para tí </span>
      <span class="nombre" style="color:#A67133; height: 10px;"> {{nombre}} !</span>
    </p>
  </div>
  <div *ngIf="rol === 'Recepcionista'" class="Graficos-container-Recepcion">
    <div class="CantidadPrestamo-recep">
      <!--Le damos valor a los inputs creados en la clase del componente con los valores creados en 
          esta clase -->
      <app-graficos [canvaName]=Prestamo.id [tipoGrafico]=tipoGrafico
        [tituloGrafico]="setTitulo('Cantidad de prestamo por tipo')"
        [labelsGrafico]="setLabels(['Tesis', 'Libros', 'Articulos', 'Revistas'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([12, 19, 3, 5])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.2)','rgba(255, 159, 64, 0.2)','rgba(255, 205, 86, 0.2)','rgba(75, 192, 192, 0.2)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)'])"></app-graficos>
      <canvas #Prestamo id="CantidadPrestamo" width="400" height="400"></canvas>
    </div>
  </div>
  <div *ngIf="rol === 'Administrador'" class="Graficos-container-Administracion">
    <div class="CantidadRecaudado-admin">
      <app-graficos [canvaName]=Recaudado.id [tipoGrafico]="setTipo('doughnut')"
        [tituloGrafico]="setTitulo('Cantidad de recursos recaudados por mes')"
        [labelsGrafico]="setLabels(['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([120,180,270,105,250,100,85])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.4)','rgba(255, 159, 64, 0.4)','rgba(255, 205, 86, 0.4)','rgba(75, 192, 192, 0.4)','rgba(54, 162, 235, 0.4)','rgba(153, 102, 255, 0.4)','rgba(201, 203, 207, 0.4)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)','rgb(255, 159, 64)','rgb(255, 205, 86)','rgb(75, 192, 192)','rgb(54, 162, 235)','rgb(153, 102, 255)','rgb(201, 203, 207)'])"></app-graficos>
      <canvas #Recaudado id="CantidadRecaudado" width="400" height="400"></canvas>
    </div>
  </div>
  <div *ngIf="rol === 'Director'" class="Graficos-container-Supervision">
    <div class="CantidadPrestamo">
      <!--Le damos valor a los inputs creados en la clase del componente con los valores creados en 
          esta clase -->
      <app-graficos [canvaName]=Prestamo.id [tipoGrafico]=tipoGrafico
        [tituloGrafico]="setTitulo('Cantidad de prestamo por tipo')"
        [labelsGrafico]="setLabels(['Tesis', 'Libros', 'Articulos', 'Revistas'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([12, 19, 3, 5])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.2)','rgba(255, 159, 64, 0.2)','rgba(255, 205, 86, 0.2)','rgba(75, 192, 192, 0.2)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)'])"></app-graficos>
      <canvas #Prestamo id="CantidadPrestamo" width="400" height="400"></canvas>
    </div>
    <div class="CantidadAutores">
      <app-graficos [canvaName]=Autores.id [tipoGrafico]="setTipo('pie')"
        [tituloGrafico]="setTitulo('Cantidad de artículos disponibles por tipo')"
        [labelsGrafico]="setLabels(['Tesis', 'Libros', 'Articulos', 'Revistas'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([12, 19, 3, 5])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.6)','rgba(255, 159, 64, 0.6)','rgba(255, 205, 86, 0.6)','rgba(75, 192, 192, 0.6)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)'])"></app-graficos>
      <canvas #Autores id="CantidadAutores" width="400" height="400"></canvas>
    </div>
    <div class="CantidadRecaudado">
      <app-graficos [canvaName]=Recaudado.id [tipoGrafico]="setTipo('line')"
        [tituloGrafico]="setTitulo('Cantidad de fondos bibliográficos recaudados')"
        [labelsGrafico]="setLabels(['Tesis', 'Libros', 'Articulos', 'Revistas'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([12, 19, 3, 5])"
        [coloresGrafico]="setColors(['rgba(255, 205, 86, 0.6)','rgba(217, 32, 39, 0.6)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 205, 86)', 'rgb(217, 32, 39)'])"></app-graficos>
      <canvas #Recaudado id="CantidadRecaudado" width="200" height="200"></canvas>
    </div>
    <div class="CantidadVisita">
      <app-graficos [canvaName]=Visita.id [tipoGrafico]="setTipo('doughnut')"
        [tituloGrafico]="setTitulo('Cantidad de visitantes por mes')"
        [labelsGrafico]="setLabels(['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio'])"
        [leyendaGrafico]="setLeyenda('Cantidad')" [valuesGrafico]="setValues([120,180,270,105,250,100,85])"
        [coloresGrafico]="setColors(['rgba(255, 99, 132, 0.4)','rgba(255, 159, 64, 0.4)','rgba(255, 205, 86, 0.4)','rgba(75, 192, 192, 0.4)','rgba(54, 162, 235, 0.4)','rgba(153, 102, 255, 0.4)','rgba(201, 203, 207, 0.4)'])"
        [borderColorGrafico]="setBorderColor(['rgb(255, 99, 132)','rgb(255, 159, 64)','rgb(255, 205, 86)','rgb(75, 192, 192)','rgb(54, 162, 235)','rgb(153, 102, 255)','rgb(201, 203, 207)'])"></app-graficos>
      <canvas #Visita id="CantidadVisita" width="400" height="400"></canvas>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'PRESTAMO'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#CF3636; height: 10px;"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <input class="Nombre" type="text" placeholder="Nombre" style="top: 10px;">
      <input class="Apellidos" type="text" placeholder="Apellidos" style="top: 70px;">
      <input class="Telefono" type="text" placeholder="Telefono" style="top: 130px;">
      <input class="DNI" type="text" placeholder="DNI" style="top: 190px;">
      <input class="N°_Prestamo" type="text" placeholder="N° de Prestamo" style="top: 10px; left: 75%;">
      <input class="Titulo" type="text" placeholder="Titulo" style="top: 70px; left: 75%;">
      <input class="Autor" type="text" placeholder="Autor(a)" style="top: 130px; left: 75%;">
      <input class="Fecha_Prestamo" type="text" placeholder="Fecha de Prestamo" style="top: 190px; left: 75%;">
      <input class="Fecha_Devolucion" type="text" placeholder="Fecha de Devolución" style="top: 250px; left: 75%;">
      <div class="button-inputs">
        <button type="button" class="button-buscar" style="background-color: #CF3636;">Buscar Usuario</button>
      </div>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button type="button" class="button-agregar">Agregar</button>
      <button type="button" class="button-modificar" style="left: 185px">Modificar</button>
      <button type="button" class="button-mostrar" style="left: 365px">Mostrar</button>
      <button type="button" class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'ARTICULOS'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <input class="Titulo" type="text" placeholder="Titulo" style="top: 10px;">
      <input class="Disponibilidad" type="text" placeholder="Disponibilidad" style="top: 70px;">
      <input class="Disciplina" type="text" placeholder="Disciplina" style="top: 130px;">
      <input class="ISBN" type="text" placeholder="ISBN" style="top: 190px;">
      <input class="Fecha de publicación" type="text" placeholder="Fecha de publicación" style="top: 250px;">
      <input class="N° Páginas" type="text" placeholder="N° Páginas" style="top: 10px; left: 75%;">
      <input class="N° Estante" type="text" placeholder="N° Estante" style="top: 70px; left: 75%;">
      <input class="Bibliografía" type="text" placeholder="Bibliografía" style="top: 130px; left: 75%;">
      <input class="Volumen" type="text" placeholder="Volúmen" style="top: 190px; left: 75%;">
      <input class="Numero" type="text" placeholder="Número" style="top: 250px; left: 75%;">
      <input class="Palabras_clave" type="text" placeholder="Palabras clave" style="top: 310px; left: 75%;">
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'AUTOR'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Autor-form" [formGroup]="autorform" (ngSubmit)="registrarAutor">
        <input class="Nombre" type="text" formControlName="nombre" placeholder="Nombre" style="top: 10px;">
        <input class="Apellidos" type="text" formControlName="apellidos" placeholder="Apellidos" style="top: 70px;">
        <input class="Telefono" type="text" formControlName="telefono" placeholder="Teléfono" style="top: 130px;">
        <input class="DNI" type="text" formControlName="dni" placeholder="DNI" style="top: 190px;">
        <input class="Nacionalidad" type="text" formControlName="nacionalidad" placeholder="Nacionalidad" style="top: 250px;">
      </form>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'MULTA'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#6D24A6; height: 10px;"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Multa-form" [formGroup]="multaform" (ngSubmit)="registrarMulta">
        <input class="Nombre" type="text" formControlName="nombre" placeholder="Nombre" style="top: 10px;">
        <input class="Apellidos" type="text" formControlName="apellidos" placeholder="Apellidos" style="top: 70px;">
        <input class="Telefono" type="text" formControlName="telefono" placeholder="Teléfono" style="top: 130px;">
        <input class="DNI" type="text" formControlName="dni" placeholder="DNI" style="top: 190px;">
        <input class="Motivo" type="text" formControlName="motivo" placeholder="Motivo" style="top: 10px; left: 75%;">
        <input class="N° Multa" type="text" formControlName="nmulta" placeholder="Importe" style="top: 70px; left: 75%;">
      </form>
      <div class="button-inputs">
        <button type="button" class="button-buscar" style="background-color: #6D24A6;">Buscar Usuario</button>
      </div>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'CATEGORIA'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Categoria-form" [formGroup]="categoriaform" (ngSubmit)="registrarCategoria">
        <input class="Codigo" type="text" formControlName="codigo" placeholder="Código" style="top: 10px;">
        <input class="Descripcion" type="text" formGroupName="descripcion" placeholder="Descripción" style="top: 70px;">
        <div class="contenedorselect">
          <label class="contenedorselect" name="subcategoria-label" style="width: 200px; top:150px; left: 0; padding: 0;">SUB CATEGORIA LC</label>
          <select name="subcategoria" id="subcategoria" formControlName="subcategoria" style="top: 190px; left: 0;">
            <option value="item.id" *ngFor="let item of subcategoriaLC">{{item.codigo}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'LIBROS'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="libros-form" [formGroup]="libroform" (ngSubmit)="registrarLibro">
        <input class="Titulo" type="text" formControlName="titulo" placeholder="Titulo" style="top: 10px;">
        <input class="Disponibilidad" type="text" formControlName="disponibilidad" placeholder="Disponibilidad"
          style="top: 70px;">
        <input class="Disciplina" type="text" formControlName="disciplina" placeholder="Disciplina" style="top: 130px;">
        <input class="ISBN" type="text" formControlName="isbn" placeholder="ISBN" style="top: 190px;">
        <input class="Fecha de publicación" formControlName="fechapubli" type="text" placeholder="Fecha de publicación"
          style="top: 250px;">
        <input class="N° Páginas" type="text" formControlName="npaginas" placeholder="N° Páginas"
          style="top: 10px; left: 75%;">
        <input class="N° Estante" type="text" formControlName="nestante" placeholder="N° Estante"
          style="top: 70px; left: 75%;">
        <input class="Bibliografía" type="text" formControlName="bibliografia" placeholder="Bibliografía"
          style="top: 130px; left: 75%;">
        <input class="Género" type="text" formControlName="genero" placeholder="Género" style="top: 190px; left: 75%;">
        <input class="Sinopsis" type="text" formControlName="sinopsis" placeholder="Sinopsis"
          style="top: 250px; left: 75%;">
        <input class="N° Edicion" type="text" formControlName="nedicion" placeholder="N° Edición"
          style="top: 310px; left: 75%;">
        <input class="Ubicación" type="text" formControlName="ubicacion" placeholder="Ubicación"
          style="top: 370px; left: 75%;">
        <div class="contenedorselect">
          <label class="contenedorselect" name="autores-label">AUTORES</label>
          <select name="autores" id="autores" formControlName="autores">
            <option value="item.id" *ngFor="let item of autores">{{item.nombre}} {{item.apellidos}}</option>
          </select>
        </div>
        <div class="contenedorselect">
          <label class="contenedorselect" name="editorial-label">EDITORIAL</label>
          <select name="editorial" id="editorial" formControlName="editorial">
            <option value="item.id" *ngFor="let item of editoriales">{{item.nombre}}</option>
          </select>
        </div>
        <div class="contenedorselect">
          <label class="contenedorselect" name="categoria-label">CATEGORIA</label>
          <select name="categoria" id="categoria" formControlName="categoria">
            <option value="item.id" *ngFor="let item of categorias">{{item.codigo}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'EDITORIAL'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Editorial-form" [formGroup]="editorialform" (ngSubmit)="registrarEditorial">
        <input class="Nombre" type="text" formControlName="nombre" placeholder="Nombre" style="top: 10px;">
        <input class="Titulo" type="text" formControlName="titulo" placeholder="Título" style="top: 70px;">
        <input class="Direccion" type="text" formControlName="direccion" placeholder="Dirección" style="top: 130px;">
      </form>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'EMPLEADOS'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#333FA6; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Empleados-form" [formGroup]="empleadoform" (ngSubmit)="registrarEmpleado">
        <input class="Nombre" type="text" formControlName="nombre" placeholder="Nombre" style="top: 10px;">
        <input class="Apellidos" type="text" formControlName="apellidos" placeholder="Apellidos" style="top: 70px;">
        <input class="Telefono" type="text" formControlName="telefono" placeholder="Teléfono" style="top: 130px;">
        <input class="DNI" type="text" formControlName="dni" placeholder="DNI" style="top: 190px;">
        <input class="Sueldo" type="text" formControlName="sueldo" placeholder="Sueldo" style="top: 10px; left: 75%;">
        <input class="Horas_laborales" type="text" formControlName="horaslaborales" placeholder="Horas Laborables"
          style="top: 70px; left: 75%;">
      </form>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'REVISTA'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="Revista-form" [formGroup]="revistaform" (ngSubmit)="crearRevista">
        <input class="Titulo" type="text" formControlName="titulo" placeholder="Titulo" style="top: 10px;">
        <input class="Disponibilidad" type="text" formControlName="disponibilidad" placeholder="Disponibilidad"
          style="top: 70px;">
        <input class="Disciplina" type="text" formControlName="disciplina" placeholder="Disciplina" style="top: 130px;">
        <input class="ISBN" type="text" formControlName="isbn" placeholder="ISBN" style="top: 190px;">
        <input class="Fecha de publicación" type="text" formControlName="fechapubli" placeholder="Fecha de publicación"
          style="top: 250px;">
        <input class="N° Páginas" type="text" formControlName="npaginas" placeholder="N° Páginas"
          style="top: 10px; left: 75%;">
        <input class="N° Estante" type="text" formControlName="nestante" placeholder="N° Estante"
          style="top: 70px; left: 75%;">
        <input class="Bibliografía" type="text" formControlName="bibliografia" placeholder="Bibliografía"
          style="top: 130px; left: 75%;">
        <input class="Volumen" type="text" formControlName="volumen" placeholder="Volúmen"
          style="top: 190px; left: 75%;">
        <input class="Miembros_comite" type="text" formControlName="miembroscomite" placeholder="Miembros Comité"
          style="top: 250px; left: 75%;">
        <input class="Indicador_citacion" type="text" formControlName="indicador" placeholder="Indicador Citación"
          style="top: 310px; left: 75%;">
        <input class="Palabras_clave" type="text" formControlName="palabrasclave" placeholder="Palabras Clave"
          style="top: 370px; left: 75%;">
        <div class="contenedorselect">
          <label class="contenedorselect" name="editorial-label">EDITORIAL</label>
          <select name="editorial" id="editorial" formControlName="editorial">
            <option value="item.id" *ngFor="let item of editoriales">{{item.nombre}}</option>
          </select>
        </div>
        <div class="contenedorselect">
          <label class="contenedorselect" name="categoria-label">CATEGORIA</label>
          <select name="categoria" id="categoria" formControlName="categoria">
            <option value="item.id" *ngFor="let item of categorias">{{item.codigo}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>

<div *ngIf="tipo === 'TESIS'" class="registro-cuerpo" [style.background-color]="backgroundColor">
  <div class="container-img">
    <img alt={{nombreBiblioteca}} src={{urlImage}} width="360" height="90%">
  </div>
  <div class="container-registro">
    <p>
      <span class="registro"> Registrar</span>
      <span class="tipo" style="color:#A67133; height: 10px"> {{tipo}}</span>
    </p>
    <div class="inputs">
      <form class="tesis-form" [formGroup]="tesisform" (ngSubmit)="crearTesis">
        <input class="Titulo" type="text" formControlName="titulo" placeholder="Titulo" style="top: 10px;">
        <input class="Disponibilidad" type="text" formControlName="disponibilidad" placeholder="Disponibilidad"
          style="top: 70px;">
        <input class="Disciplina" type="text" formControlName="disciplina" placeholder="Disciplina" style="top: 130px;">
        <input class="Institucion" type="text" formControlName="institucion" placeholder="Institución"
          style="top: 190px;">
        <input class="Fecha de publicación" type="text" formControlName="fechapubli" placeholder="Fecha de publicación"
          style="top: 250px;">
        <input class="N° Páginas" type="text" formControlName="npaginas" placeholder="N° Páginas"
          style="top: 10px; left: 75%;">
        <input class="N° Estante" type="text" formControlName="nestante" placeholder="N° Estante"
          style="top: 70px; left: 75%;">
        <input class="Bibliografía" type="text" formControlName="bibliografia" placeholder="Bibliografía"
          style="top: 130px; left: 75%;">
        <input class="Resumen" type="text" formControlName="resumen" placeholder="Resumen"
          style="top: 190px; left: 75%;">
        <input class="Palabras_clave" type="text" formControlName="palabrasclave" placeholder="Palabras Clave"
          style="top: 250px; left: 75%;">
        <div class="contenedorselect">
          <label class="contenedorselect" name="autores-label">ASESORES</label>
          <select name="autores" id="autores" formControlName="asesores" style="width: 170px;">
            <option value="item.id" *ngFor="let item of autores">{{item.nombre}} {{item.apellidos}}</option>
          </select>
        </div>
        <div class="contenedorselect">
          <label class="contenedorselect" name="editorial-label">EDITORIAL</label>
          <select name="editorial" id="editorial" formControlName="editorial">
            <option value="item.id" *ngFor="let item of editoriales">{{item.nombre}}</option>
          </select>
        </div>
        <div class="contenedorselect">
          <label class="contenedorselect" name="categoria-label">CATEGORIA</label>
          <select name="categoria" id="categoria" formControlName="categoria">
            <option value="item.id" *ngFor="let item of categorias">{{item.codigo}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="buttons" style=" display: flex; justify-content: space-between;">
      <button class="button-agregar">Agregar</button>
      <button class="button-modificar" style="left: 185px">Modificar</button>
      <button class="button-mostrar" style="left: 365px">Mostrar</button>
      <button class="button-eliminar" style="left: 545px">Eliminar</button>
    </div>
  </div>
</div>