@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Poppins:wght@100&display=swap');

:root {
  --Dorado: #A67133;
  --main-bg-color: #FFFFFF;
  --Gris-claro: #858681;
  --Gris-oscuro: #656565;
  --Negro: #000000;
}

.Login {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url(/assets/Fondo_Login.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Logo-container {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  width: 315px;
  height: 115px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.Logo-container img {
  margin-right: 10px;
  width: 118px;
  height: 117px;
  border-radius: 10px 0 0 10px;
}

.Logo-container span {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 25px;
  color: #858681;
  flex-grow: 1;
}

.Login-form {
  position: absolute;
  width: 500px;
  height: 496px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  align-items: center;
}

.lin1 {
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
  width: 278px;
  height: 44px;
  left: 50px;
  top: 42px;
}

.lin2 {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 294px;
  height: 32px;
  left: 50px;
  top: 90px;
}

.user {
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  left: 50px;
  top: 135px;
}

.Login-form input[type="text"] {
  position: absolute;
  left: 50px;
  top: 160px;
  border-radius: 10px;
  border: 1px solid #A67133;
  width: 380px;
  height: 40px;
  padding: 0 0 0 10px;
}

.password {
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  left: 50px;
  top: 225px;
}

.Login-form input[type="password"] {
  position: absolute;
  left: 50px;
  top: 250px;
  border-radius: 10px;
  border: 1px solid #A67133;
  padding: 0 0 0 10px;
  width: 380px;
  height: 40px;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.form-check input {
  position: absolute;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #A67133;
  top: 315px;
  left: 60px;
  cursor: pointer;
}

.TyC {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: smaller;
  font-weight: bold;
  color: #656565;
  position: absolute;
  left: 80px;
  top: 314px;
  line-height: 20px;
  letter-spacing: -0.04em;
}

.FPassword {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: smaller;
  font-weight: bolder;
  color: #A67133;
  position: absolute;
  left: 310px;
  top: 314px;
  line-height: 20px;
  letter-spacing: -0.04em;
  cursor: pointer;
}

.Login-form button[type="button"] {
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  background-color: #A67133;
  color: #FFFFFF;
  text-align: center;
  width: 386px;
  height: 45px;
  left: 50px;
  top: 350px;
  border: 1px solid #A67133;
  border-radius: 10px;
  cursor: pointer;
}

.Login-form span[class="pregunta"] {
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 20px;
  letter-spacing: -0.04em;
  left: 180px;
  top: 415px;
}

.Login-form label[class="registrate"] {
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: lighter;
  color: #A67133;
  line-height: 20px;
  letter-spacing: -0.04em;
  left: 195px;
  top: 450px;
  cursor: pointer;
}

footer p {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}